.footerClass {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(180deg, var(--blue), var(--info));
  z-index: 15;
}

.footerClass img {
  filter: invert(100%) brightness(100%) contrast(100%) drop-shadow(2px 4px 6px black);
}